<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace : 맵핑할 인터페이스-->
<!--
    List<Order> findOrders();
    List<Order> findByCustomerId(int customerId);
    Order findByOrderId(int orderId);
    int removeByOrderId(int orderId);
    int update(Order order);
    int save(Order order);
-->
<mapper namespace="com.lab4dx.s04_mybatis.mapper.OrderMapper">
    <!-- table의 칼럼이름과 dto의 필드명이 다를때 파싱    -->
    <resultMap id="OrderMap" type="com.lab4dx.s04_mybatis.dto.Order">
        <id column="ORDER_ID" property="orderId"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="CUSTOMER_ID" property="customerId"/>
        <result column="PRODUCT_ID" property="productId"/>
        <result column="QUANTITY" property="quantity"/>
    </resultMap>
    <insert id="save">
        INSERT INTO ORDERS (ORDER_ID, CUSTOMER_ID, PRODUCT_ID, QUANTITY)
        VALUES (#{orderId}, #{customerId}, #{productId}, #{quantity})
    </insert>
    <!-- 파라미터 타입은 생략해도 문제없다.(하면 명시적)   -->
    <update id="update">
        UPDATE ORDERS SET QUANTITY=#{quantity} WHERE ORDER_ID=#{orderId}
    </update>

    <delete id="removeByOrderId">
        DELETE FROM ORDERS WHERE ORDER_ID=#{orderId}
    </delete>

    <select id="findOrders" resultType="com.lab4dx.s04_mybatis.dto.Order">
        SELECT
            ORDER_ID as orderId,
            ORDER_DATE as orderDate,
            CUSTOMER_ID as customerId,
            PRODUCT_ID as productId,
            QUANTITY
        FROM ORDERS
    </select>
    <select id="findByCustomerId" resultMap="OrderMap">
        SELECT * FROM ORDERS WHERE CUSTOMER_ID=#{customerId}
    </select>
    <select id="findByOrderId" resultMap="OrderMap">
        SELECT * FROM ORDERS WHERE ORDER_ID=#{orderId}
    </select>
</mapper>